@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nova+Mono&display=swap');

.font {
  &-lobster {
    font-family: 'Lobster';
  }

  &-nova {
    font-family: 'Nova Mono';
  }
}

.text-glow {
  text-shadow: 0px 0px 16px;
}

body {
  --gradient-bg: linear-gradient(
    to bottom right,
    theme(colors.fuchsia.400),
    theme(colors.indigo.600)
  );
  background: var(--gradient-bg);
  background: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-position: center;
  background-size: cover;
}
